{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
        {{ title }} - BookClub
    {% else %}
        Welcome to BookClub
    {% endif %}
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/CSS/unsemantic-grid-responsive-tablet-no-ie7.css">
    <link href="https://fonts.googleapis.com/css?family=Kulim+Park|Roboto+Mono|Cutive+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href="../static/CSS/main.css" >
    <link rel="icon" href="../static/favicon.ico">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default container-fluid navbar-fixed-top hide-on-mobile">
        <img class="logo" alt="logo" src="../static/images/logo.png">
        <a class="nav navbar-nav" href={{ url_for("index") }}>Home</a>
        <a class="nav navbar-nav" href={{ url_for("about") }}>About</a>
        {% if current_user.is_anonymous %}
        <a class="nav navbar-nav right" href={{ url_for("login") }}>Login</a>
        {% else %}
        <a class="nav navbar-nav" href={{ url_for("explore") }}>Explore</a>
        <a class="nav navbar-nav" href="{{ url_for("user", username=current_user.username)}}">Profile</a>
        <a class="nav navbar-nav right" href={{ url_for("logout") }}>Logout</a>
        {% endif %}
    </nav>

    <nav class="navbar container-fluid hide-on-desktop hide-on-tablet">
        <div class="logo-div"><img class="logo-mobile" alt="logo" src="../static/images/logo.png"></div>
        <a class="mobile-nav" href={{ url_for("index") }}>Home</a>
        <a class="mobile-nav" href={{ url_for("about") }}>About</a>
        {% if current_user.is_anonymous %}
        <a class="mobile-nav" href={{ url_for("login") }}>Login</a>
        {% else %}
        <a class="mobile-nav" href={{ url_for("explore") }}>Explore</a>
        <a class="mobile-nav" href="{{ url_for("user", username=current_user.username)}}">Profile</a>
        <a class="mobile-nav" href={{ url_for("logout") }}>Logout</a>
        {% endif %}
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block app_content %}
    {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}
