<p>Dear {{ user.username }},</p>
<p>You have recently requested a password reset.</p>
<p>Please
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">click here
    </a>
    to reset your password.
</p>
<p>You can also paste the following link into you browser's address bar:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>

<p>These links will be valid for 10 minutes from the time you requested the reset.</p>

<p>If you have not requested a password reset, you can ignore this message.</p>

<p>Thank you,</p>
<p>The Microblog Team</p>